body {
    margin: 0;
    padding: 0;
}


/*
    ====================
    Header
    ====================
*/

header {
    position: fixed;
    top: 0;
    min-width: 1349px;
    height: 80px;
    z-index: 5;
}

.member-status {
    box-sizing: border-box;
    background-color: #2EB398;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 0;
    width: 20.75%;
    float: left;
}

.user-info {
    width: 200px;
    margin: auto;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}

.user-info div {
    display: inline-block;
    line-height: 2px;
    width: 140px;
}

.user-info p:first-child {
    font-weight: 300;
}

.user-info p:last-child {
    font-weight: bold;
}

.member-actions {
    box-sizing: border-box;
    background: #fff;
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 79.25%;
    float: right;
}

.dashboard {
    border-right: 1px solid #ccc;
    position: absolute;
    float: left;
    padding: 22.5px;
    text-decoration: none;
}

.member-actions .fa-caret-left {
    font-size: 20px;
    color: #333;
    margin-right: 1px;
    position: relative;
    top: -5px;
}

.member-actions .fa-bars {
    color: #ccc;
    font-size: 35px;
}

.search {
    display: inline-block;
    position: relative;
    left: 110px;
    top: 27px;
    width: 210px;
}

.search input {
    outline: none;
    color: #333;
    border: none;
    background-color: #2EB398;
    border-radius: 30px;
    padding: 6px 30px 6px 10px;
}

.search .fa-search {
    font-size: 16px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 4px;
}

.add-friend,
.calendar,
.sign-out {
    font-size: 25px;
    color: #ccc;
    text-decoration: none;
    border-left: 1px solid #ccc;
    position: absolute;
    padding: 26px;
}

.add-friend:hover,
.calendar:hover,
.sign-out:hover {
    background-color: #2EB398;
    border: none;
    color: #fff;
}

.calendar {
    right: 75px;
}

.add-friend {
    right: 150px;
}

.sign-out {
    right: 0;
}


/*
    ====================
    Navigation bar
    ====================
*/

nav {
    background-color: #232B2D;
    font: 600 16px "Abel", Helvetica, Arial, sans-serif;
    position: fixed;
    width: 280px;
    height: 100%;
    z-index: 4;
}

.nav-title {
    color: #626E71;
    text-transform: uppercase;
    border-bottom: 1px solid #4E595B;
    box-sizing: border-box;
    padding: 5px 40px 8px 40px;
    position: absolute;
    top: 15px;
    width: 100%;
}

.nav-options {
    text-decoration: none;
    color: #626E71;
    display: block;
    padding: 5px 40px;
    position: relative;
    top: 48px;
}

.nav-options:hover {
    background-color: #676E71;
    color: #fff;
}

.default {
    color: #fff;
}

.nav-options i {
    margin-right: 8px;
}

#main,
#more,
#settings {
    position: relative;
    top: 80px;
    height: 25%;
    margin-bottom: 10px;
}


/*
    ====================
    Main content
    ====================
*/

.wrapper {
    position: absolute;
    top: 80px;
    right: 0;
    width: 1070px;
    height: 800px;
}

.overview {
    box-sizing: border-box;
    width: 838px;
    height: 800px;
    float: left;
}

.overview-title {
    background-color: #F7F7F7;
    font: 20px 'Abel', sans-serif;
    color: #333;
    padding: 20px 30px 15px 30px;
}

.overview-title h2 {
    margin: 0;
}

#reaction-box {
    background-color: #fff;
    height: 150px;
}

#gallery-items {
    background-color: #F7F7F7;
    height: 577px;
}

.aside {
    box-sizing: border-box;
    background-color: #EDEDED;
    font-family: 'Abel', sans-serif;
    float: right;
    width: 232px;
    height: 800px;
    padding: 25px 20px;
}

footer {
    background-color: #232B2D;
    font-family: 'Abel', sans-serif;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    font-weight: bold;
}

.heart {
    position: relative;
    top: 4px;
}